<tr>
    <td><%= template.subject %></td>
    <td>
        <a class="btn btn-link" href="/templates/edit/<%= dbName %>/<%= template.id %>">Edit</a>
    </td>
    <td>
        <a class="btn btn-link" href="/templates/delete/<%= dbName %>/<%= template.id %>">Delete</a>
    </td>
</tr>